<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceManager"
        tools:targetApi="31">

        <!--
          LoginActivity is now the LAUNCHER activity.
          It's the first screen the user will see.
        -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
          MainActivity is now a regular activity with no launcher.
        -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />

        <!-- All your other activities -->
        <activity android:name=".ui.AddStudentActivity" />
        <activity android:name=".ui.MarkAttendanceActivity" />
        <activity android:name=".ui.ViewReportActivity" />
        <activity android:name=".ui.StudentDetailActivity" />
        <activity android:name=".ui.ManageSubjectsActivity" />

    </application>

</manifest>